.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    background-color: #35383c;
    min-height: 100vh;
    font-family: Open Sans, sans-serif;
}

.container {
    background-color: #212121;
    width: 20em; min-width: 320px;
    padding: 1em;
    border-radius: .3em;
    box-shadow: 4px 4px 8px rgba(0,0,0,.3);
    margin: auto;
    color: rgba(255, 255, 255, 0.4);
}
input, select, .button{
    background-color: inherit;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}
img {
    width: 50%;
	margin:auto;
    display:block;
    margin-bottom: 1rem;
}
label, a {
	color: #EC7D1B;
}
h1 {
	color: #EC7D1B;
    font-size: 1.6rem;
    font-weight: bold;
}
input[type=text], input[type=email]{
    border:0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 1rem;
    color: whitesmoke;
    text-align: left;
    transition: 0.5s;
}
input[type=text]:focus, input[type=email]:focus{
    border-bottom: 1px solid #EC7D1B;
    transition: 0.5s;
}
select {
    margin-bottom: 1rem;
    color: #EC7D1B;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
input[type=submit], .button{
    color: #EC7D1B;
    font-size: 1.1rem;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
input[type=submit]:hover, .button:hover {
    border: 1px solid #EC7D1B;
}
.button {
    display:block;
    text-decoration: none;
    margin-bottom: 1rem;
}
.logout {
    color: #cc4b37;
}
.logout:hover {
    border: 1px solid #cc4b37;
}
.login {
    color: #3adb76;
}
.login:hover {
    border: 1px solid #3adb76;
}

/*LR Header*/
.lr-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #212121;
    padding: 1em;
    align-items: center;
    margin: 1vh 1vw;
    border-radius: .3em;
    box-shadow: 4px 4px 8px rgba(0,0,0,.3);
}

.lr-header-title {
    padding: 0rem 0.5rem;
}
.lr-header-logo {
    max-height: 14vh;
    max-width: 14vh;
    margin-bottom: 0;
}

.lr-header-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.lr-header-item {
    /* max-width: 300px; */
    width: auto;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1vw;
    padding: 2vh 1vw;
    transition: all 0.5s;
}
.lr-header-submenu ul{
    display:none;
    position: absolute;
    background-color: #212121;
    border: 1px #EC7D1B solid;
    padding: 1em;
    margin-top: 0;
    margin-left: 1vw;
    border-radius: .3em;
    box-shadow: 4px 4px 8px rgba(0,0,0,.3);
    z-index: 1;
    transition: 300ms;
}

.lr-header-submenu:hover > ul, .lr-header-submenu:hover{
    display: block;
}

.lr-header-submenu-checkbox{
    display:none;
}

.lr-header-submenu-checkbox-label{
    display:none;
    padding: 2vh 2vw;
}

/* .lr-header-item:hover {
    background-color: #00AF52;
    color: #333333;
} */
.lr-header-item.input-group {
    margin-bottom: 0;
}
label.lr-header-responsive-button {
    display: none !important;
}
@media print, screen and (max-width: 30em) {
    .lr-header {

    }
    .lr-header, .lr-header-items{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;

    }
    .lr-header-items {
        display: none;

    }
    .lr-header-item, .lr-header-submenu {
        width: 100%;
    }
    .lr-header-submenu .button {
        margin-left: 0;
    }
    .lr-header-submenu ul  {
        position: relative;
        width:auto;
    }
    .lr-header-submenu a{
        display:none;
    }
    .lr-header-submenu-checkbox-label{
        display:block;
    }
    .lr-header-submenu-checkbox:checked+ul{
        display:block;
    }
    .lr-header-item, .lr-header-title, .lr-header-responsive-button {
        margin-bottom: 1vh !important;
    }
    label.lr-header-responsive-button{
        display: block !important;
    }
    input[type=checkbox]:checked ~ .lr-header-items {
        display: flex;
    }
    input[type=checkbox] ~ .lr-header-responsive-button {
        color: #3adb76;
    }
    input[type=checkbox]:checked ~ .lr-header-responsive-button {
        color: #cc4b37;
    }
    input[type=checkbox] ~ .lr-header-responsive-button::before {
        content: "Open menu ";
    }
    input[type=checkbox]:checked ~ .lr-header-responsive-button::before {
        content: "Close menu ";
    }
}

/* End of header */
