{
   "discord_server_id":"229313857552777217",
   "base_url":"http://localhost/factoriommo/",
   "discord_app_client_id":"963852",
   "discord_app_client_secret":"adsfxasdfwfefawefw",
   "discord_bot_api_key":"Bot asSNOds4.d5.asdfwe"
}